<div id="twitter-box">
	<div id="twitter-box-image">
		<img class="circle" src={{this.img}}>
	</div>
	<div id="twitter-box-input">
		<input
			type="text"
			placeholder="What's Happening?" 
			value={{this.text}}
			oninput={{action this.handleChange value="target.value"}}
			>
	</div>
	<div id="twitter-box-button">
		{{#if this.text}}
		<button
			{{action this.handleSubmit}}
		>
			Tweet
		</button>
		{{/if}}
	</div>
</div>