<form>
	<input type="text"
	placeholder="What's Happening?" 
	value={{this.text}}
	oninput={{action this.handleChange value="target.value"}}
	>
	<button
		{{action this.handleSubmit}}
	>
		Tweet
	</button>
</form>
